[submodule "base"]
	path = base
	url = git@github.com:jelmansouri/chromium-base.git
[submodule "testing/gtest"]
	path = testing/gtest
	url = git@github.com:jelmansouri/chromium-gtest.git
[submodule "testing/gmock"]
	path = testing/gmock
	url = git@github.com:jelmansouri/chromium-gmock.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = git@github.com:jelmansouri/chromium-icu.git
[submodule "third_party/ced/src"]
	path = third_party/ced/src
	url = git@github.com:jelmansouri/chromium-ced.git
[submodule "crypto"]
	path = crypto
	url = git@github.com:jelmansouri/chromium-crypto.git
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = git@github.com:jelmansouri/chromium-boringssl.git
